// This file contains the default color variables for Quasar.
$primary   : #DB2955;
$secondary : #f7c548;

$transparent: transparent;
$solid-dark: #313131;
$solid-light: #e9e9e9;

$white  : #FFFFFF;

$positive  : #35CE8D;
$negative  : #C03221;
$info      : #39dbce;
$warning   : #f7c548;

$red   : #C03221;
$orange: #FE621D;
$yellow: #F7C548;
$green: #35CE8D;
$blue: #39dbce;
$purple: #C490D1;
$pink: #DB2955;


// Font definitions
$phantom-muff-empty: 'PhantomMuffEmpty';
$phantom-muff-full: 'PhantomMuffFull';
$phantom-muff-display: 'PhantomMuffDisplay';
$phantom-muff-difficulty: 'PhantomMuffDifficulty';

// Font imports
@font-face {
  font-family: $phantom-muff-empty;
  src: url('../assets/fonts/PhantomMuffEmpty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $phantom-muff-full;
  src: url('../assets/fonts/PhantomMuffFull.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {  font-family: $phantom-muff-display;
  src: url('../assets/fonts/PhantomMuffDisplay.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $phantom-muff-difficulty;
  src: url('../assets/fonts/PhantomMuffDifficulty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.phantom-font {
  font-family: 'PhantomMuffFull', sans-serif;
}

.phantom-font-empty {
  font-family: 'PhantomMuffEmpty', sans-serif;
}

.phantom-font-display {
  font-family: 'PhantomMuffDisplay', sans-serif;
}

.phantom-font-difficulty {
  font-family: 'PhantomMuffDifficulty', sans-serif;
}

// Global Quasar overrides

.text-subtitle1, .text-subtitle2, .text-h6, .text-body1, .text-body2 {
  color: var(--theme-text);
}

.q-item__label--caption {
  color: var(--theme-text-secondary);
}

.q-input, .q-select {
  color: var(--theme-text) !important;
}

.q-input .q-field__native, .q-select .q-field__native {
  color: var(--theme-text);
}

.q-field--outlined .q-field__control:before {
  border-color: var(--theme-border) !important;
}

.q-field--float .q-field__label {
  color: var(--theme-text-secondary) !important;
}

.icon {
  color: var(--theme-text) !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s, transform 0.2s;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

hr {
  border: none;
  border-top: 1px solid var(--theme-border);
  margin: 0.5rem 0;
}

/* Make sure any Quasar containers are transparent */
.q-layout,
.q-page-container,
.q-page {
  background: transparent !important;
}

/* Remove all shadows from Quasar components, they shouldn't have them anyways */
.q-shadow-1,
.q-shadow-2,
.q-shadow-3,
.q-shadow-4,
.q-shadow-5,
.q-shadow-6,
.q-shadow-7,
.q-shadow-8,
.q-shadow-9,
.q-shadow-10 {
  box-shadow: none !important;
}

a {
  color: var(--q-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}